/* .buttons__wrapper {
    width: 50%;
    max-width: 200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grayButtons {
    width: 40%;
    font-size: 50px;
    padding: 12px;
    border-radius: 8px;
    border-color: #a5a5a5;    
} */
